<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<article th:fragment="tarjeta(producto)" class="tarjeta">
    <a class="tarjeta-media" th:href="@{|/producto/${producto.slug}|}">
        <img th:src="@{|/img/portadas/${producto.imagen}.svg|}" th:alt="${producto.nombre}">
        <span class="sello" th:if="${producto.destacado}">Selección</span>
    </a>
    <div class="tarjeta-cuerpo">
        <p class="kicker" th:text="${producto.categoria.nombre}">Sección</p>
        <h3><a th:href="@{|/producto/${producto.slug}|}" th:text="${producto.nombre}">Nombre</a></h3>
        <p class="resumen" th:text="${producto.resumen}">Resumen</p>
        <div class="tarjeta-pie">
            <p class="precio">
                <span th:text="${@dinero.format(producto.precio)}">US$ 0</span>
                <s th:if="${producto.descuento != null}" th:text="${@dinero.format(producto.precioLista)}"></s>
            </p>
            <form th:action="@{/carrito/agregar}" method="post">
                <input type="hidden" name="productoId" th:value="${producto.id}">
                <input type="hidden" name="cantidad" value="1">
                <input type="hidden" name="volver" value="/catalogo">
                <button class="btn-chico" type="submit" th:disabled="${producto.stock == 0}"
                        th:text="${producto.stock == 0} ? 'Agotado' : 'Agregar'">Agregar</button>
            </form>
        </div>
    </div>
</article>
</body>
</html>
